@page
@model IndexModel
@{
    ViewData["Title"] = "Página principal";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido a La Ruta!</h1>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <h2>Registro y Seguimiento</h2>
                    <p>Nuestro avanzado sistema de registro y seguimiento te permite gestionar de manera eficiente la información de choferes y vehículos. Mantén un control detallado de cada proceso de aprendizaje.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <h2>Gestión Diaria</h2>
                    <p>Optimiza tus operaciones diarias con nuestras herramientas diseñadas para facilitar transacciones y proporcionar acceso rápido a información estratégica. Simplifica tu día a día y enfócate en la enseñanza.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mission-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Nuestra Misión</h2>
                <p class="text-center">En "La Ruta", nos dedicamos a formar conductores seguros y responsables. Nuestra misión es proporcionar una educación vial de calidad, combinando tecnología avanzada con la experiencia de instructores especializados.</p>
            </div>
        </div>
    </div>
</section>

<section class="image-section">
    <h2 class="text-center">Galería de Imágenes</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://practicatest.cl/static/img/cl/blog/elegir-profesor-manejo.jpg" alt="Imagen 1">
            </div>
            <div class="col-md-4">
                <img src="https://mitsubishi-motors.com.co/blog/wp-content/uploads/2020/08/mantener-la-calma-aprendiendo-a-manejar.jpg" alt="Imagen 2">
            </div>
            <div class="col-md-4">
                <img src="https://assets-global.website-files.com/60aea4e5ac6df63edce0b8b4/617217d483416fa0fc7041aa_Autoseguro-Crabi-Blog-Cat-Aprender-a-Manejar-p-800.jpeg" alt="Imagen 3">
            </div>
        </div>
    </div>
</section>